@import 'styles/main';

.root {
  border: 3px solid var(--color-glaucous);
  min-height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap8);
  width: 100%;
  transition: border-color var(--transitionTime);
  margin-bottom: var(--gap12);

  color: var(--color-black);

  @include hover {
    border-color: var(--color-yellow);
    color: var(--color-black);
  }

  &.active {
    border-color: var(--color-yellow);
    color: var(--color-black);

    .count {
      background-color: var(--color-yellow);
    }
  }
}

.title {
  margin: 0;
  font-weight: 600;
}

.count {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--color-glaucous);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}