

:root {
  --color-black: #333232;
  --color-white: #ffffff;
  --color-glaucous: #7E89CA;
  --color-blue: #0D21A1;
  --color-yellow: #DCCCA3;
  
  --gap4: 4px;
  --gap8: 8px;
  --gap12: 12px;
  --gap16: 16px;
  --gap20: 20px;
  --gap24: 24px;
  --gap28: 28px;
  --gap32: 32px;
  --gap36: 36px;
  --gap40: 40px;
  --gap44: 44px;
  --gap48: 48px;
  --transitionTime: 0.2s;
}

$tablet: 1024px;
$mobile: 660px;